td, th {
	border: 1px solid;
  }

@font-face {
  font-family: 'Silka';
  src: "../font/SilkaMono-Regular.otf"
}

body {
  font-family: 'Silka';
  background-image: "../images/blue.jpg";
  background-size: cover;
}

.size1 {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.size2 {
  width: 120px;
  height: 120px;
}

#header {
  text-align: center;
  text-shadow: 1px 1px 0px rgb(244, 197, 255);
  ;
}

#planets {
  border-collapse: collapse;
  margin: auto;
  min-width: 600px;
  background-color: white;
}

th {
  padding: 7px;
  text-align: justify;
  background-color: rgb(218, 164, 253);
}

td {
  padding: 7px;
}

.column-1 {
  font-weight: bold;
}

.opposite {
  background-color: rgba(217, 164, 253, 0.242);
}