td, th {
	border: 1px solid;
  }

@font-face {
  font-family: 'Silka';
  src: url(/font/SilkaMono-Regular.otf);
}

body {
  font-family: 'Silka';
  background-image: url(/images/blue.jpg);
  background-size: cover;
}

#header {
  text-align: center;
}

#planets {
  border-collapse: collapse;
  margin: auto;
  width: 50px;
  min-width: 600px;
  background-color: white;
}

th {
  text-align: center;
  background-color: rgb(218, 164, 253);
}

.column-1 {
  font-weight: bold;
}